
@font-face {
    font-family: "Evolventa";
    src: url("../fonts/Evolventa/Evolventa-Regular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Evolventa/Evolventa-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Evolventa/Evolventa-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Evolventa/Evolventa-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Evolventa/Evolventa-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Evolventa/Evolventa-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans/OpenSans-Regular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/OpenSans/OpenSans-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

